.cart-item-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* border:1px solid; */
  background-color: #f3f3f3;
  border-radius: 1em;
  margin: 1em;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  background-color: greenyellow;
  margin: 1em;
  border-radius: 1em;
  /* border:1px solid; */
  /* scale: -1; */
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0.5em;
  margin:0.5em;
  /* border:1px solid; */
  text-align: center;
}
.description p {
  font-weight:bold;
  columns: #333333;;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quantity-box {
  width: 100px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.price p {
  color: green;
}
.total p {
  color:green;
  font-size:1.3em;
  font-weight: bold;
  font-family: sans-serif;

}
.image {
  width: 80%;
}
.total {
    display: flex;
    justify-content: center;
    align-items: center;
}
