.hero {
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #f3f3f3;
}
.image-container {
    width:100%;

}
.hero-text {
    width:40%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 2em;

    /* border:1px solid; */

}
.hero-text h1 {
    font-family: sans-serif;
    font-size:1.5em;
    font-stretch: condensed;
    color:#333333;
}
.hero-text p {
    font-family:sans-serif;
    font-size:0.5em;
    color:#33333;
}
.hero-image {
    width:30%;
    
    height:auto;
}