.home {
    padding:0.5em;
    
    background-color: white;
    
    justify-content: center;
    align-items: center;
    margin:0em 4em 0em 4em;
    /* border:1px solid; */
    
}
.intro-section {
    display: flex;
    width:100%;
    border-bottom: 0.005px solid #333333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em;
    margin:3em;
}
.intro-section h1{
    font-family: sans-serif;
    font-size:2.5em;
    color:#333333;

    text-align: justify;
}
.intro-section p{
    font-family: sans-serif;
    font-size:1em;
    color:#333333;
    text-align: center;
}
.item-list {
    display: flex;
    width:100%;
    
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}