.navbar {
    background-color: white;
    /* border-radius:0.7em; */
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    position: fixed;
    z-index: 1;
    /* max-height:20vh; */

    /* border-bottom: 5px solid #333333; */
}
.row {
    display:flex;
    flex-direction: row;

}

.nav-row {
    display: flex;
    justify-content: space-between;
    grid-template-rows: 0.5fr, 1fr;

}
.logo-container {
    width:20%;

}
.logo-container h2 {
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Playfair Display SC', serif;
    font-weight: 100;
    font-size:2em;
    
}
.icon-tray {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    justify-content: center;
    align-items: center;
    
    width:30%;
    /* padding:1em; */
    
}
.icon-tray a {
    font-family: 'Pathway Gothic One', sans-serif;
    
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    /* font-size:1.3em; */
}
.icon-tray p{
    font-family: 'Pathway Gothic One', sans-serif;
    /* border:1px solid; */
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    font-size:1.3em;
    cursor: pointer;
    color:orangered;
}
.icon-tray p:hover {
    text-decoration: underline;
}
.icon-tray a:hover {
    text-decoration: underline;
}
.cart-icon {
    display: flex;
/* max-width:10%; */
/* max-height:10px; */
/* margin-left:10%; */
    /* width:5%; */
    /* border:1px solid; */
    width:100%;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cart-icon span {
    display: flex;
    
    font-size: 0.8em;
    color:orangered;
    margin:1em;
    margin-left:1.2em;
    position: absolute;
}
.cart-image {
    width:60px;
    height:64px;
}