.SmallCard {
    width:50%;
    min-width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 30%;
    max-height:60vh;
    background-color: white;
    border-radius: 0.6em;
    margin:1.2em;
      
}
.card-row {
    width:100%;
    background-color: red;


}
.border-card {
    border:5px solid #333333;
}
.card-last-row {
    background-color: red;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em 0em 1em 0em;
}
.add-to-cart {
    background-color: greenyellow;
    width:40%;
    border:0px solid;
    border-radius: 1em;
    
}
.description p{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:1.2em;
}
.add-to-cart p {
    columns: #333333;;
    font-family: sans-serif;
    font-weight: bold;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color:transparent;
    height:80%;
    background-color: white;
    
}

.content:hover {
    color:#333333;
    height:100%;
}


.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#333333;
    font-family: sans-serif;
    width:100%;
    max-height:60%;
    font-size:1em;
    background-color: green;
    
    
}
.image-container {
    width:100%;
    border:1px solid;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    /* background-color: white; */
    
}
.smallCard-image {
    width:70%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    background-color: white;
    object-fit: cover;
    
}
.action-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: space-around; */
    /* border:1px solid red; */
}

.price  {
    font-family: 'Pathway Gothic One', sans-serif; 
    font-size:1em;
    color:green;
    margin-left:0.2em;
    width:100%;
    font-size:1.5rem;
    font-weight: bold;
    
}
.price p {
    font-weight: bold;
    color:green;
    font-size:2em;
    
}
.icon-rupee {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-right:0.5rem;
    /* border:1px solid; */
}
.product-head h1 {
    font-family: 'Pathway Gothic One', sans-serif; 
    font-size: 1.5em;
}